{{ if eq .Page.Params.show_featured_story true }}
  <div class="featured-story" id="featured-story" data-publish-target="{{ .Page.Params.featured_content_publish_target | default .Site.Params.featured_content_publish_target | default "eclipse_org"}}">
    <div class="container">
      <div class="featured-story-block-container">
        <div class="featured-story-block featured-story-block-content featured-container"></div>
      </div>
      
    </div>
  </div>
{{ end }}