<!-- 
  Copyright (c) 2018 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ if isset .Page.Params "headline" }}
<div class="jumbotron jumbotron-custom featured-jumbotron margin-bottom-0">
  
  <div class="container">
    <div class="jumbotron-custom-content">
      <div class="row">
        <div class="{{- .Params.jumbotron_class | default .Site.Params.jumbotron_class | default "jumbotron-custom-col col-md-14 col-lg-18"}}">
          <h1>{{ .Page.Params.headline | title | safeHTML }}</h1>
           {{ if isset .Page.Params "subtitle" }}
          <h2>{{ .Page.Params.subtitle  | title }}</h2>
          {{end}} 

          {{ if isset .Page.Params "tagline" }}
          <div class="row">
            <div class="{{- .Params.jumbotron_tagline_class | default .Site.Params.jumbotron_tagline_class | default "col-sm-14 col-sm-offset-5 col-md-offset-0"}}">
              <p>{{ .Page.Params.tagline }}</p>
            </div>
          </div>
          {{end}} 

          {{ if isset .Page.Params "links" }}
          {{- with .Params.jumbotron_btn_class | default .Site.Params.jumbotron_btn_class | default "btn btn-primary"}}{{ $.Scratch.Set "jumbotron_btn" . }}{{end}}
          <ul class="list-inline">
            {{range $key,$val := index .Page.Params.links}}
              <li><a class="{{ $.Scratch.Get "jumbotron_btn" }}" href="{{ (index $val 0).href}}">{{ (index $val 1).text}}</a></li>
            {{end}} 
          </ul>
          {{end}} 
          <div class="row jumbotron-custom-social-container">
            <div class="col-xs-12 padding-right-0">
              <ul class="list-inline jumbotron-custom-social-icons-left">
                <li>Follow Us:</li>
                <li><a href="https://www.facebook.com/eclipse.org"><img class="jumbotron-custom-social-icon" src="images/social-icons/facebook.svg"></a></li>
                <li><a href="https://twitter.com/EclipseFdn"><img class="jumbotron-custom-social-icon" src="images/social-icons/twitter.svg"></a></li>
                <li><a href="https://www.linkedin.com/company/eclipse-foundation"><img class="jumbotron-custom-social-icon" src="images/social-icons/linkedin.svg"></a></li>
                <li><a href="https://www.youtube.com/user/EclipseFdn"><img class="jumbotron-custom-social-icon" src="images/social-icons/youtube.svg"></a></li>
              </ul>
            </div>
            <div class="col-xs-12 padding-left-0 hidden-md hidden-lg">
              {{ partial "jumbotron_socials.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
