<!-- 
  Copyright (c) 2018 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div class="{{ $.Site.Params.navbar_wrapper_classes | default "navbar-wrapper" }}">
  <div class="container">
    <div class="row" id="header-row">
      <div class="{{ $.Site.Params.header_left_classes | default "col-sm-5 col-md-4" }}" id="header-left">
        <div class="wrapper-logo-default">
          {{- with .Page.Params.logo | default .Site.Params.logo | default "https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-foundation-white-orange.svg" }}
            <a title="{{ $.Site.Title }}" href="{{ "" | absLangURL }}">
              <img width="{{ $.Page.Params.logo_width | default $.Site.Params.logo_width | default "140"}}" class="logo-eclipse-default img-responsive hidden-xs" src="{{ . | absURL }}" alt="{{ $.Site.Title }}" />
            </a>
          {{ end }}
        </div>
      </div>
      <div class="{{ $.Site.Params.main_menu_wrapper_classes | default "col-sm-19 col-md-20 margin-top-10" }}" id="main-menu-wrapper">
        <div class="{{ $.Site.Params.main_menu_classes | default "navbar yamm" }}" id="main-menu">
          <div class="navbar-collapse collapse reset" id="navbar-main-menu">
            <ul class="nav navbar-nav">
              {{ partial "nav.html" . }}

              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <span><i class="fa fa-user-circle fa-fw"></i></span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="yamm-content">
                      
                        <ul class="list-unstyled">
                          <li><a href="https://accounts.eclipse.org/user/edit">{{ i18n "navbar-edit-acccount-label" }}</a></li>
                          <li><a class="toolbar-link toolbar-manage-cookies">{{ i18n "navbar-manage-cookies-label" }}</a></li>
                          {{ if gt (len .AllTranslations) 1 }}
                          <li class="language-selector dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                              <i class="fa fa-globe"></i>
                              <span> {{ .Language.LanguageName }}</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              {{ range .AllTranslations }}
                              <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                              {{ end }}
                            </ul>
                          </li>
                          {{ end }}
                        </ul>
                     
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          {{ partial "nav_toggle.html" . }}
        </div>
      </div>
    </div>
  </div>
</div>