<script id="event-short-list" type="text/html">
{{ readFile ("/js/templates/event-list-format.mustache") | safeHTML}}
</script>
<script id="news-home-template" type="text/html">
{{ readFile ("/js/templates/news-home.mustache") | safeHTML}}
</script>
<script>
(function($, document) {
    // Eclipse News and events
    $("#news-list-container").eclipseFdnApi({
    type: "newsItems"
    });
    $("#event-list-container").eclipseFdnApi({
    type: "filteredEvents"
    });
})(jQuery, document);
</script>